In [19]:
#Import necessary libraries
import pandas as pd
import numpy as np

In [20]:
#Reading the dataset
data = pd.read_csv('Advertising.csv')

### 1. Explain the dataset

In [21]:
# Displaying the dataset
data = data.set_index('Unnamed: 0')
data

               TV  Radio  Newspaper  Sales
Unnamed: 0
1           230.1   37.8       69.2   22.1
2            44.5   39.3       45.1   10.4
3            17.2   45.9       69.3    9.3
4           151.5   41.3       58.5   18.5
5           180.8   10.8       58.4   12.9
...           ...    ...        ...    ...
196          38.2    3.7       13.8    7.6
197          94.2    4.9        8.1    9.7
198         177.0    9.3        6.4   12.8
199         283.6   42.0       66.2   25.5
200         232.1    8.6        8.7   13.4

[200 rows x 4 columns]

In [22]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 200 entries, 1 to 200
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   TV         200 non-null    float64
 1   Radio      200 non-null    float64
 2   Newspaper  200 non-null    float64
 3   Sales      200 non-null    float64
dtypes: float64(4)
memory usage: 7.8 KB

In [23]:
#Checking the null values
data.isnull().sum()

TV           0
Radio        0
Newspaper    0
Sales        0
dtype: int64

In [24]:
#Displaying the label index
data.loc[1]

TV           230.1
Radio         37.8
Newspaper     69.2
Sales         22.1
Name: 1, dtype: float64

In [25]:
#Displaying the position index
data.iloc[1]

TV           44.5
Radio        39.3
Newspaper    45.1
Sales        10.4
Name: 2, dtype: float64

In [26]:
#Maximum values from each columns
data.max()

TV           296.4
Radio         49.6
Newspaper    114.0
Sales         27.0
dtype: float64

In [27]:
#Minimum values from each columns
data.min()

TV           0.7
Radio        0.0
Newspaper    0.3
Sales        1.6
dtype: float64

### 2. Check the summary statistics and discuss the max, min, avg, median, and percentiles.

In [28]:
#Describing the dataset summary statistics
data.describe()

               TV       Radio   Newspaper       Sales
count  200.000000  200.000000  200.000000  200.000000
mean   147.042500   23.264000   30.554000   14.022500
std     85.854236   14.846809   21.778621    5.217457
min      0.700000    0.000000    0.300000    1.600000
25%     74.375000    9.975000   12.750000   10.375000
50%    149.750000   22.900000   25.750000   12.900000
75%    218.825000   36.525000   45.100000   17.400000
max    296.400000   49.600000  114.000000   27.000000

1. There are total 200 rows on file

2. Mean and maximum amount spend for TV is high among three

3. Min amount spend for radio is 0.00

### 3. The manager wants to find out whether the same amount was spent for the three advertisements (TV , Radio and Newspaper). Comment on your findings.

Hypothesis:

H0: There is no significant difference in the amount that is spent on the three advertisements (TV , Radio and Newspaper)

Ha: There is a significant difference in the amount that is spent on the three advertisements (TV , Radio and Newspaper)

In [30]:
#This is a one-way ANOVA statistical test
from scipy.stats import f_oneway

alpha=.05

#Calculating p-value
_, p_value = f_oneway(data['TV'], data['Radio'], data['Newspaper'])
print("p-value: ", p_value)

p-value:  4.552931539744962e-103

### Inference:

Since the p-value(4.552931539744962e-103) is less than alpha(0.05), we reject null hypothesis(H0) and failed to reject the alternate hypothesis(Ha)

### Conclusion:

According to our hypothesis testing, we conclude that there is a significant difference in the amount that is spent on the three advertisements (TV, Radio and Newspaper)