# Case Study on Measures of Central Tendency and Dispersion

In [25]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [26]:
fileData = pd.read_csv('StudentsPerformance.csv')

### 1. Find out how many males and females participated in the test.

In [27]:
fileData['gender'].value_counts()

female    518
male      482
Name: gender, dtype: int64

### 2. What do you think about the students' parental level of education?

In [28]:
fileData['parental level of education'].value_counts()

some college          226
associate's degree    222
high school           196
some high school      179
bachelor's degree     118
master's degree        59
Name: parental level of education, dtype: int64

#### 3. Who scores the most on average for math, reading and writing based on

##### a. Gender

In [29]:
fileData.groupby('gender')['math score','reading score','writing score'].mean()

        math score  reading score  writing score
gender
female   63.376448      72.590734      72.467181
male     68.821577      65.545643      63.446058

#### b. Test preparation course

In [30]:
fileData.groupby('test preparation course')['math score','reading score','writing score'].mean()

                         math score  reading score  writing score
test preparation course
completed                  69.96648      74.175978      74.684358
none                       63.78972      66.417445      64.457944

### 4. What do you think about the scoring variation for math, reading and writing based on

 #### a. Gender

In [31]:
fileData.groupby('gender').std()

        math score  reading score  writing score
gender
female   16.029928      14.411018      14.844842
male     14.556411      14.149594      14.227225

#### b. Test preparation course

In [32]:
fileData.groupby('test preparation course').std()

                         math score  reading score  writing score
test preparation course
completed                 14.521847      13.537572      13.236412
none                      15.705689      14.608896      15.041667

### 5. The management needs your help to give bonus points to the top 25% of students based on their maths score, so how will you help the management to achieve this.

In [33]:
top_25_percent = fileData.nlargest(250, ['math score'])
top_25_percent

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
515,female,group E,some college,standard,none,100,92,97
516,female,group E,bachelor's degree,standard,none,100,100,100
517,female,group E,associate's degree,standard,none,100,100,100
996,male,group A,some college,standard,completed,100,96,86
997,male,group D,some college,standard,completed,100,97,99
...,...,...,...,...,...,...,...,...
428,female,group D,some college,free/reduced,none,77,86,86
429,female,group E,some high school,standard,none,77,79,80
849,male,group A,bachelor's degree,standard,none,77,67,68
850,male,group C,associate's degree,free/reduced,none,77,67,64
851,male,group D,some college,standard,completed,77,62,62